* {
    font-family: 'Helvetica';
}

body {
    padding: 60px;
}

button {
    margin-top: 20px;
}

input {
    width: 100%;
    font-size: 1.2rem;
}

.card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    padding: 5px;
    align-content: center;
    border: 1px solid gray;
    border-radius: 6px;
    margin-bottom: 10px;
    margin-right: 10px;
    overflow: hidden;
}

.card img {
    max-height: 170px;
}
